@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --color-header: #161d2f;
}

body {
  background-color: #10141e;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-gray {
  filter: brightness(0.5);
}
