@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --color-header: #161d2f;
  --color-bookmark: #10141e;

  --breakpoint-mb: 375px;
  --breakpoint-tb: 768px;
  --breakpoint-dk: 1440px;
}

body {
  background-color: #10141e;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-gray {
  filter: brightness(0.5);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
